.titles {
    padding:0;
    height:4vh;
    width: auto;
    font-style: italic;
    text-align: center;
    
}

#winner {
    padding: 0;
    height:0vh;
    width:auto;
    text-align: center;
}

#container {
    min-height: 94vh;
    display: flex;
}

.left{
    width:55vw;
    background-color: gray;
}
.right{
    width:70vw;
    background-color: white;
}

#boardBackground {
    height: 620px;
    width: 695px;
    background-color:rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#boardBackground2 {
    height: 585px;
    width: 660px;
    background-color:rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}